/*contente first*/
@import url(icon.css);

:root{
    --light: #F7F7F7; 
    --dark: #0f0f0f;
    --orng:#FEAC5E;
    /*beackpoint
    --small: 576px;
    --medium: 786px;
    --large: 992px;
    --xlarge: 1200px;
    */
}
*{
    box-sizing: border-box; /*pading y margin formen parte del width*/
    font-family: 'Space Mono', monospace;
}
body{ margin: 0;
        cursor: none;
        background-color:  var(--orng);
        
    }

/*circulos background*/
.circulos{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    filter: blur(80px);
}
.circulos .circulo{
    position: absolute;
    width: 50%;
    height: 50%;
    

}
.circulos .circulo1{
    top: 0%;
    left: 0%;
    animation: circulo1 30s linear infinite both;
}
@keyframes circulo1{
    from{
        transform: rotate(0deg) scale(4);
    }
    to{
        transform: rotate(360deg) scale(4);
    }
}
.circulos .circulo2{
    top: 0%;
    right: 0%;
    animation: circulo1 30s linear infinite both;
    
}
.circulos .circulo3{
    bottom: 0%;
    left: 30%;
    animation: circulo1 30s linear infinite both;
    
}

 /*navegacion*/
nav{
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;   
    background-color: var(--dark);
    
}
nav a{
    color: var(--light);
    text-decoration: none;
    padding: .5rem;
    display: block;
    text-transform: uppercase;
    font-size: 1rem;
    margin:.5rem  1rem;
    cursor: none;
   
}

nav > a:last-child{
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 2rem;
    
}
.button{
    margin: .5rem;
    border: none;
    font-size: 1.6rem;
    z-index: 3;
    background-color: transparent;
    color: var(--light);
    
}
.menu {
   overflow: hidden;
    height: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 1rem;
    
 }
.menu.active{
    height: auto;
    background-color: var(--dark);
    text-align: center;
    transition: all .5s ease-in;   
}
.icon-github{
    font-size: 1.5rem;
}

.menu .a{
    transition: all .5s ease-in;
}


/*cabecera*/
header{
    padding: 1rem;
    height: 100vh;
    display: flex ;
    justify-content: center ;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    z-index: 2;
    
}    
.header h1{
    font-size: 3.3rem;
    line-height: 2.8rem;
    
}
.header h3{
    font-size: 2rem;
    line-height: 2rem;
    padding: 1rem;
}
.header p{
    white-space: pre-line;
}
.header  h1,
.header h3,
.header p{
        margin: 0;
        text-align: center;
    }
    
/*contenido principal*/

section{
    margin: auto;
    max-width: 900px; 
    padding-bottom: 5rem;
    padding-top: 5rem;
    position: relative;
    z-index: 2;    
}


.cp{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  margin: .3rem;
  padding: .5rem;
  gap: 1rem;
  
}

.cp .pro1{
    width: 100%;
}


.cp :nth-child(2){
    margin: auto;
}
.cp a{
    text-decoration: none;
    color: var(--light); 
    text-transform: uppercase;
    cursor: none;
}
.cp button{
    background-color: var(--dark);
    border: none;
    border-radius: 3.5px;
    height: 2rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*pie de pagina*/


.social{
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding-top: 15rem;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
  
}

.social a{
    text-decoration: none;
    font-size: 1.5rem; 
    cursor: none;   
}
.social p{
    line-height: 1.8rem;
}
.icon-linkedin , .icon-mail{
    color: var(--dark);
    padding: 1rem;
}



.div p{
    
    padding-top: 1rem;
    text-align: center; 
    
}

/*cursor personalizado*/
#cursor{
    position: fixed;
    width: 5em;
    height: 5em;
    background-color: var(--light);
    top: 0;
    left: 0;
    z-index: 5;
    pointer-events: none;
    border-radius: 50%;
    
    
}
#cursor.mini{
    transform: scale(0.4);
    transition:all .1s linear;
}



/*small*/
    @media screen and (min-width: 576px) {
        
        
    } 
/*medium*/
@media screen and (min-width: 768px) {
    nav{
        background-color: transparent;   
    }
    nav .a , .icon-github{
        color: var(--dark);
    }
    #menu{
        display: none;
    }
    .menu{
        width: auto;
        height: auto;
        display: flex;
        color: var(--dark);
    }
    
    .menu span{
        display: inline-block;
    }
    
    .header p{
        
        margin: auto;
    }
    .header h1{
        font-size: 4.5rem;
        line-height: 4rem;
    }
    
 }
   
/*large*/
    @media screen and (min-width: 992px){
      .menu span{
          display: inline-block;
      }  
      
 }
        
    
/*extra large*/
    @media screen and (min-width: 1200px) {
         .a{
            font-size: 1.2rem;
        }
        .menu .icon-github{
            font-size: 2rem;
        }
        .header h1{
            font-size: 6rem;
            line-height: 4rem;
        }
        .header h3{
            font-size: 3rem;
            line-height: 2rem;
        }
        .header p{
            font-size: 1.2rem;
        }
        .social .h2{
            font-size: 1.5rem;
        }
        .social p{
            font-size: 1rem;
        }
        .social a{
            text-decoration: none;
            font-size: 2rem; 
            cursor: none;   
        }

    }